<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.felicity.felicitycbt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="dev.felicity.felicitycbt.Demographics" />
        <activity android:name="dev.felicity.felicitycbt.ResponseOverview"></activity>
        <activity android:name="dev.felicity.felicitycbt.BlankSession" />
        <activity android:name="dev.felicity.felicitycbt.ForgotPassword" />
        <activity android:name="dev.felicity.felicitycbt.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="dev.felicity.felicitycbt.Signup" />
        <activity android:name="dev.felicity.felicitycbt.LandingPage" />
        <activity android:name="dev.felicity.felicitycbt.CbtIntro" />
        <activity android:name="dev.felicity.felicitycbt.CbtChart" />
        <activity android:name="dev.felicity.felicitycbt.SituationDescription" />
        <activity android:name="dev.felicity.felicitycbt.ThoughtDescription" />
        <activity android:name="dev.felicity.felicitycbt.ThoughtSituation" />
        <activity android:name="dev.felicity.felicitycbt.ThoughtMeaning" />
        <activity android:name="dev.felicity.felicitycbt.FeelingSelection" />
        <activity android:name="dev.felicity.felicitycbt.FeelingPercentage" />
        <activity android:name="dev.felicity.felicitycbt.Symptoms" />
        <activity android:name="dev.felicity.felicitycbt.AffectInfluence" />
        <activity android:name="dev.felicity.felicitycbt.CopingMechanisms" />
        <activity android:name="dev.felicity.felicitycbt.AvoidanceAssessment" />
        <activity android:name="dev.felicity.felicitycbt.AlternativeOptions" />
        <activity android:name="dev.felicity.felicitycbt.ChallengingThought" />
        <activity android:name="dev.felicity.felicitycbt.ThoughtExclusion" />
        <activity android:name="dev.felicity.felicitycbt.ProblematicPatterns" />
        <activity android:name="dev.felicity.felicitycbt.FactOrOpinion" />
        <activity android:name="dev.felicity.felicitycbt.AlternativeInterpretations" />
        <activity android:name="dev.felicity.felicitycbt.ThoughtComparison" />
        <activity android:name="dev.felicity.felicitycbt.AlternativePerspective" />
        <activity android:name="dev.felicity.felicitycbt.FeelingSelectionReview" />
        <activity android:name="dev.felicity.felicitycbt.FeelingPercentageReview" />
        <activity android:name="dev.felicity.felicitycbt.MaintainingProgress" />
        <activity android:name="dev.felicity.felicitycbt.FeelingReview" />
        <activity android:name="dev.felicity.felicitycbt.PatternsReview" />
        <activity android:name="dev.felicity.felicitycbt.Gratuity" />
        <activity android:name="dev.felicity.felicitycbt.GratuityLog" />
        <activity android:name="dev.felicity.felicitycbt.PHQ9" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>